/*Introduction Section Style*/
#introduction-section.dark .card {
    background-color: #323840;
    color: #fff;
}

#introduction-section {
    background-color: #38a7ff;
    text-align: center;
    padding: 2% 8% 3% 8%;
    color: #fff;
    letter-spacing: 2px;
}

#introduction-section .content p {
    font-size: 18px;
    padding-bottom: 50px;
}

/*Card Introduction Section Style*/
#introduction-section .card-container-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#introduction-section .card-container-div i{
    color: #38a7ff;
}

#introduction-section .card-container-div .card-name{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#introduction-section.dark .card-container-div .card-name {
    color: #fff;
}
#introduction-section .card-containe-div {
    color: #000;
    font-size: 15px;
}

#introduction-section .card {
    background-color: #fff;
    flex: 1 23%;
    margin: 10px;
    color: #000;
    border-radius: 14px;
}

#introduction-section .card h3{
    color: #000;
    font-size: 33px;
}

#introduction-section .card-container .card-container-div .card div {
    padding: 5px;
}

#introduction-section .card-container-div h3{
    color: #38a7ff;
    font-size: 18px;
}
/*End Card Introduction Section Style*/
/*End Introduction Section Style*/